*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 90%;
	background: #F8F8FF;
	background: #34495e;
}
.header{
	color: white;
	background: #000000;
	text-align: center;
	padding: 20px;
}
form{
	width: 30%;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: #000000;
	border-radius: 10px 10px 10px 10px;
}
.input-box{
	margin: 10px 0px 10px 0px;
}

.input-box label {
	display: block;
	text-align: left;
	margin: 3px;
	color: white;
}

.input-box input{
	height: 30px;
	width: 95%;
	padding: 5px 10px;
	font-font: 16px;
	border-radius: 5px;
	border: 1px solid gray;
	color: white;
	background: #333333;
}
.btn{
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #666666;
	border: none;
	border-radius: 5px;
}
.btn_1{
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #666666;
	border: none;
	border-radius: 5px;
}
.val_error, .val_error_1{
	padding: 5px;
}
.welcome{
	width: 600px;
	padding: 20px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #5F9EA0;
	border-radius: 0px 0px 10px 10px;
	text-align: center;
}